.App {
  text-align: center;
}

* {
  background-color: rgb(202, 202, 202);
}

.links {
  display: flex;
  justify-content: space-around;
}

.header {
  padding: none;
  border-bottom: 2px solid black;
}

.text_1 {
  animation: text1;
}

.text_2 {
  animation: text2;
}

.text_1,
.text_2 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 20s;
  animation-timing-function: steps(50, end);
  animation-iteration-count: infinite;
}

.text_1::after,
.text_2::after {
  content: "|";
  right: 0;
  animation: caret infinite; /* makes cursor blink */
  animation-duration: 1s; /* How long cursor takes to do one 'blink'*/
  animation-timing-function: steps(1.5, end); /* cursor blink after */
}

@keyframes text2 {
  0%,
  50%,
  100% {
    width: 0;
  }

  60%,
  90% {
    width: 21.2em;
  }
}

@keyframes text1 {
  0%,
  50%,
  100% {
    width: 0;
  }
  10%,
  40% {
    width: 17em;
  }
}

@keyframes caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.github {
  width: 40px;
  height: 40px;
}

.linkedin {
  width: 40px;
  height: 40px;
}

.contactList {
  list-style: none;
}
